<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} -%kvp- %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 根Logger -->
    <root level="DEBUG">
        <appender-ref ref="STDOUT" />
    </root>
    <!-- 代码 logger 不向上传递，否者 root logger 会往控制台再输出一次 -->
    <logger name="org.example" level="DEBUG" additivity="false">
        <appender-ref ref="STDOUT" />
    </logger>
</configuration>